:root{
    --blue:rgb(103, 193, 253);
    --C1:#026E81;
    --c2:#00ABBD;
    --c3:#9fc6d6;
    --c4:#FF9933;
    --c5:#A1C7E0;
    --c6:rgb(105, 105, 105);

    --d1:#000000;
    --d2:#0d0d0d;
    --d3:#252525;
    --d4:#262626;
    --d5:#3b3b3b;

    --textw:white;
    --textb:black;

}
body{
    display: flex;
    flex-direction: column;
    background-color: rgb(78, 78, 78);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vw;
    background-color:var(--C1);
    color: rgb(0, 0, 0);
    border: 1px solid var(--c5);
}
h1{
    font-size: 3em;
    color: #FF9933;
    text-shadow: 0px 0px 2px black;
}
.row-fita-box{
    position: fixed;
}
.fita-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    background-color: var(--c6);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1.3em;
    position: fixed;
    top: 0vw;
    left: 0vw;
    width: 9vw;
    height: 2vw;
    border-radius: 0px 0px 20px 0px;
    transition: 1s;
    z-index: 9999;
}
.box-fita{
    width: 12vw;
    height: 95%;
    border-radius: 0px 20px 20px 0px;
    background-color:var(--c3);
    position: fixed;
    bottom: 0vw;
    top: 3.6vw;
    left: -22.8vw;
    line-height: 2vw;
    transition: 1s;
    opacity: 0;
}
.fita-box:hover .box-fita{
    opacity: 1;
    transition: 1s;
    left: 0vw;
}
.fita-box:hover{
    background-color: var(--c4);
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav a:hover{
    color:white;
}
label{
    display: flex;
    flex-direction: row;
    font-size: 15px;
    margin-top: 4vw;
}
#hora{
    padding: 0;
    border: none;
    margin-left: 5px;
}
/*-------------------------------------------------------------------*/
.body-false{
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    background-color: var(--c3);
}
.content{
    display: flex;
    flex-direction: column;
    padding: 50px;
    height: auto;
    width: 80vw;
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
}
.GA{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 98%;
}
.GA h3{
    margin: 0.5vw;
    font-size: 2em;
}
.tipos{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
}
.GAbox{
    width: 80%;
    background-color: rgb(231, 231, 231);
}
.art{
    border: 1px solid rgb(160, 160, 160);
    padding: 1vw;
    transition: 1s;

}
.art:hover{
    background-color: white;
    transform: scale(1.03);
    transition: 1s;
    box-shadow: 0px 0px 5px black;
}
div{
    border: 1px solid rgb(204, 204, 204);
    padding: 1vw;
}
section{
    background-color: white;
    border: 1px solid rgb(204, 204, 204);
    padding: 1vw;
    transition: 1s;
}
section:hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 5px black;
}
section:active{
    transform: scale(1.05);
}
footer{
    padding: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: rgb(187, 187, 187);
    
}
footer p{
    font-size: 1.6em;
}
footer a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
footer a:hover{
    text-decoration: underline;
}
/*--------------------DARKTHEME--------------------*/
html.dark body{
    background-color: var(--d1);
    color: white;
}
html.dark h1{
    color: rgb(161, 161, 161);
}
html.dark .cabecalho{
    background-color: var(--d3);
}
html.dark .fita-box{
    background-color: red;
}
html.dark .fita-box:hover{
    background-color: var(--d5);
}
html.dark .box-fita{
    background-color: var(--d4);
}
html.dark .body-false{
    background-color: var(--d4);

}
html.dark .content{
    background-color: var(--d3);
}
html.dark .art{
    background-color: var(--d4);
}
html.dark .art:hover{
    background-color: var(--d1);
}
html.dark .tipos{
    background-color: var(--d4);
}
html.dark .GAbox{
    background-color: var(--d3);
}
html.dark section{
    background-color: var(--d4);
}
html.dark section:hover{
    background-color: var(--d1);
}
html.dark footer{
    background-color: var(--d1);
}
html.dark nav ul li a{
    color: var(--textw);
}
html.dark nav a:hover{
    color:var(--C1);
}